body {
    font-family: "Arial Black", sans-serif;
    background-color: beige;
    color: cornflowerblue;
    text-align: center;
}
#login .form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
#login .form-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
header {
    background-color: aliceblue;
    padding: 1em 0;
    border: 2px solid black;
    width: 200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
.login {
    text-align: left;
    margin: 0 auto;
}
h2 {
    text-align: center;
}
button {
    background-color: cornflowerblue;
    color: white;
    padding: 8px 18px;
    margin: 7px 0;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: darkblue;
}

#login {
    background-color: white;
    border: 2px solid cornflowerblue;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}